@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
}

@layer base {
  :root {
    --background: oklch(98.5% 0 0);
    --foreground: oklch(44.2% 0.017 285.786);
    --heading: oklch(14.1% 0.005 285.823);
    --primary: oklch(75% 0.183 55.934);
    --primary-foreground: oklch(98.5% 0 0);
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 1rem;
    --sidebar-background: oklch(98.5% 0 0);
    --sidebar-foreground: oklch(55.2% 0.016 285.938);
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --sidebar-width: 300px;
  }

  * {
    @apply border-border;
    margin: 0;
  }

  .dark {
    --background: oklch(14.1% 0.005 285.823); /* zinc-950  */ 
    --foreground: oklch(70.5% 0.015 286.067); /* zinc-50  */ 
    --heading: oklch(98.5% 0 0); /* zinc-50  */ 
    --primary: oklch(75% 0.183 55.934); /* orange-400  */ 
    --primary-foreground: oklch(98.5% 0 0); /* zinc-50  */ 
    --secondary-foreground: oklch(70.5% 0.015 286.067); /* zinc-400  */ 
    --card: oklch(21% 0.006 285.885);
    --card-foreground: oklch(98.5% 0 0); /* zinc-50  */ 
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: oklch(14.1% 0.005 285.823); /* zinc-950  */ 
    --sidebar-foreground: oklch(55.2% 0.016 285.938); /* zinc-500  */ 
  }
  /* // RESET */
  body {
    @apply bg-background overflow-hidden;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply text-heading;
  }

  h1 { @apply text-4xl font-bold; }
  h2 { @apply text-3xl font-bold; }
  h3 { @apply text-2xl font-bold; }
  h4 { @apply text-xl font-bold; }
  h5 { @apply text-lg font-bold; }
  h6 { @apply text-base; }

  article {
    @apply text-foreground px-40 py-20 mx-auto
  }
}